# Ignore node_modules directory
frontend/node_modules
backend/node_modules

frontend/.env
backend/.env

# Ignore package.json file
# /package.json

# # Ignore package-lock.json file
# /package-lock.json
